<a href="https://colab.research.google.com/github/HonahX/iceberg-summit-workshop/blob/colab_dev/Iceberg_getting_started_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iceberg Workshop: Getting Started

## How to run this workshop

The workshop is consisted of several code cells that are designed to be executed from top to bottom.

For example, this is the a code cell contains code to print "Hello Iceberg Summit"

In [ ]:
print("Hello Iceberg Summit")

Hello Iceberg Summit

To execute a cell, click it and press Shift + Enter. The output will be displayed below the cell.

To execute a cell, click it and press Shift + Enter. The output will be displayed below the cell.

# Iceberg Metadata Structure

![My Image](https://github.com/HonahX/iceberg-summit-workshop/blob/main/notebooks/imgs/iceberg-metadata.png?raw=true)

# Setup

## Install Dependencies

In [2]:
%pip install pyiceberg[pyarrow,pandas,sql-sqlite]==0.9.0

Collecting pyiceberg==0.9.0 (from pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0)
  Downloading pyiceberg-0.9.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.4 kB)
Requirement already satisfied: cachetools<6.0.0,>=5.5.0 in /usr/local/lib/python3.11/dist-packages (from pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (5.5.2)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.11/dist-packages (from pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (8.1.8)
Requirement already satisfied: fsspec>=2023.1.0 in /usr/local/lib/python3.11/dist-packages (from pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (2025.3.2)
Collecting mmh3<6.0.0,>=4.0.0 (from pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0)
  Downloading mmh3-5.1.0-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (16 kB)
Requirement already satisfied: pydantic!=2.4.0,!=2.4.1,<3.0,>=2.0 in /usr/local/lib/python3.11/dist-packages (from pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (2.11.1)
Requirement already satisfied: pyparsing<4.0.0,>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (3.2.3)
Requirement already satisfied: requests<3.0.0,>=2.20.0 in /usr/local/lib/python3.11/dist-packages (from pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (2.32.3)
Requirement already satisfied: rich<14.0.0,>=10.11.0 in /usr/local/lib/python3.11/dist-packages (from pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (13.9.4)
Requirement already satisfied: sortedcontainers==2.4.0 in /usr/local/lib/python3.11/dist-packages (from pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (2.4.0)
Collecting strictyaml<2.0.0,>=1.7.0 (from pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0)
  Downloading strictyaml-1.7.3-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: tenacity<10.0.0,>=8.2.3 in /usr/local/lib/python3.11/dist-packages (from pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (9.1.2)
Requirement already satisfied: pandas<3.0.0,>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (2.2.2)
Requirement already satisfied: pyarrow<20.0.0,>=17.0.0 in /usr/local/lib/python3.11/dist-packages (from pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (18.1.0)
Requirement already satisfied: sqlalchemy<3.0.0,>=2.0.18 in /usr/local/lib/python3.11/dist-packages (from pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (2.0.40)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3.0.0,>=1.0.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3.0.0,>=1.0.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<3.0.0,>=1.0.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3.0.0,>=1.0.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (2025.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic!=2.4.0,!=2.4.1,<3.0,>=2.0->pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.0 in /usr/local/lib/python3.11/dist-packages (from pydantic!=2.4.0,!=2.4.1,<3.0,>=2.0->pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (2.33.0)
Requirement already satisfied: typing-extensions>=4.12.2 in /usr/local/lib/python3.11/dist-packages (from pydantic!=2.4.0,!=2.4.1,<3.0,>=2.0->pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (4.13.0)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from pydantic!=2.4.0,!=2.4.1,<3.0,>=2.0->pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (0.4.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.20.0->pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.20.0->pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.20.0->pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.20.0->pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (2025.1.31)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich<14.0.0,>=10.11.0->pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich<14.0.0,>=10.11.0->pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (2.18.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy<3.0.0,>=2.0.18->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (3.1.1)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/dist-packages (from markdown-it-py>=2.2.0->rich<14.0.0,>=10.11.0->pyiceberg==0.9.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (0.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=1.0.0->pyiceberg[pandas,pyarrow,sql-sqlite]==0.9.0) (1.17.0)
Downloading pyiceberg-0.9.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 16.7 MB/s eta 0:00:00
Downloading mmh3-5.1.0-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (101 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.6/101.6 kB 6.0 MB/s eta 0:00:00
Downloading strictyaml-1.7.3-py3-none-any.whl (123 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 123.9/123.9 kB 7.9 MB/s eta 0:00:00
Installing collected packages: mmh3, strictyaml, pyiceberg
Successfully installed mmh3-5.1.0 pyiceberg-0.9.0 strictyaml-1.7.3

## Create utils to print directory

In [3]:
import os

def print_directory(root_path, indent=''):
    try:
        entries = sorted(os.listdir(root_path))
    except FileNotFoundError:
        print(f"{indent}[Error] Path not found: {root_path}")
        return
    except PermissionError:
        print(f"{indent}[Error] Permission denied: {root_path}")
        return

    for i, entry in enumerate(entries):
        path = os.path.join(root_path, entry)
        is_last = (i == len(entries) - 1)
        branch = '└── ' if is_last else '├── '
        print(f"{indent}{branch}{entry}")
        if os.path.isdir(path):
            new_indent = indent + ('    ' if is_last else '│   ')
            print_directory(path, new_indent)

## Download Example Data

In [4]:
import os
data_dir = "/data"
os.makedirs(data_dir, exist_ok=True)

!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet -O /data/yellow_tripdata_2024-01.parquet
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-02.parquet -O /data/yellow_tripdata_2024-02.parquet
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-03.parquet -O /data/yellow_tripdata_2024-03.parquet

--2025-04-06 16:14:05--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.163.157.7, 3.163.157.72, 3.163.157.96, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.163.157.7|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 49961641 (48M) [binary/octet-stream]
Saving to: ‘/data/yellow_tripdata_2024-01.parquet’

/data/yellow_tripda 100%[===================>]  47.65M  57.6MB/s    in 0.8s

2025-04-06 16:14:06 (57.6 MB/s) - ‘/data/yellow_tripdata_2024-01.parquet’ saved [49961641/49961641]

--2025-04-06 16:14:06--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-02.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.163.157.7, 3.163.157.72, 3.163.157.96, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.163.157.7|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 50349284 (48M) [binary/octet-stream]
Saving to: ‘/data/yellow_tripdata_2024-02.parquet’

/data/yellow_tripda 100%[===================>]  48.02M  42.2MB/s    in 1.1s

2025-04-06 16:14:07 (42.2 MB/s) - ‘/data/yellow_tripdata_2024-02.parquet’ saved [50349284/50349284]

--2025-04-06 16:14:07--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-03.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.163.157.7, 3.163.157.72, 3.163.157.96, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.163.157.7|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60078280 (57M) [binary/octet-stream]
Saving to: ‘/data/yellow_tripdata_2024-03.parquet’

/data/yellow_tripda 100%[===================>]  57.29M  56.1MB/s    in 1.0s

2025-04-06 16:14:09 (56.1 MB/s) - ‘/data/yellow_tripdata_2024-03.parquet’ saved [60078280/60078280]

## Setup Catalog

In [38]:
from pyiceberg.catalog import load_catalog


warehouse = "/warehouse"
os.makedirs(warehouse, exist_ok=True)
sqlite_uri = f"sqlite:////{warehouse}/sql-catalog.db"
catalog = load_catalog("in-memory", warehouse=warehouse, **{
    "uri": sqlite_uri
})

catalog.create_namespace_if_not_exists("demo_ns")

# Cleanup To Ensure Re-runnable

In [7]:
try:
    # In case the table already exists
    catalog.drop_table("demo_ns.nyc_taxis")
except:
    pass

## Example Data: NYC Taxi Dataset

In this workshop, we will use New York City Taxi & Limousine Commission's Trip Record Data, which can be downloaded from https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

In [8]:
import pyarrow.parquet as pq

taxis_data_1 = pq.read_table('/data/yellow_tripdata_2024-01.parquet')
taxis_data_2 = pq.read_table('/data/yellow_tripdata_2024-02.parquet')
taxis_data_3 = pq.read_table('/data/yellow_tripdata_2024-03.parquet')
dataset_schema = taxis_data_1.schema
dataset_schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

## Create an Iceberg table

First, we'll create an iceberg table using the dataset's schema.

In [9]:
TABLE_NAME = "demo_ns.nyc_taxis"

In [10]:
nyc_taxis_tbl = catalog.create_table(TABLE_NAME, schema=dataset_schema)
nyc_taxis_tbl

nyc_taxis(
  1: VendorID: optional int,
  2: tpep_pickup_datetime: optional timestamp,
  3: tpep_dropoff_datetime: optional timestamp,
  4: passenger_count: optional long,
  5: trip_distance: optional double,
  6: RatecodeID: optional long,
  7: store_and_fwd_flag: optional string,
  8: PULocationID: optional int,
  9: DOLocationID: optional int,
  10: payment_type: optional long,
  11: fare_amount: optional double,
  12: extra: optional double,
  13: mta_tax: optional double,
  14: tip_amount: optional double,
  15: tolls_amount: optional double,
  16: improvement_surcharge: optional double,
  17: total_amount: optional double,
  18: congestion_surcharge: optional double,
  19: Airport_fee: optional double
),
partition by: [],
sort order: [],
snapshot: null

## What happens behind table creation?

A metadata file has been created and registered as the latest metadata of table `demo_ns.nyc_taxis`. Let's view the table's location.

In [11]:
print_directory(nyc_taxis_tbl.location())

└── metadata
    └── 00000-b28ed822-9ec9-45f8-8ca4-9e956eb83fc5.metadata.json

# Add data to the table

It will create a new snapshot on the table

In [12]:
nyc_taxis_tbl.append(taxis_data_1)
nyc_taxis_tbl

nyc_taxis(
  1: VendorID: optional int,
  2: tpep_pickup_datetime: optional timestamp,
  3: tpep_dropoff_datetime: optional timestamp,
  4: passenger_count: optional long,
  5: trip_distance: optional double,
  6: RatecodeID: optional long,
  7: store_and_fwd_flag: optional string,
  8: PULocationID: optional int,
  9: DOLocationID: optional int,
  10: payment_type: optional long,
  11: fare_amount: optional double,
  12: extra: optional double,
  13: mta_tax: optional double,
  14: tip_amount: optional double,
  15: tolls_amount: optional double,
  16: improvement_surcharge: optional double,
  17: total_amount: optional double,
  18: congestion_surcharge: optional double,
  19: Airport_fee: optional double
),
partition by: [],
sort order: [],
snapshot: Operation.APPEND: id=1112881952072389391, schema_id=0

## Read the table

We can see example data has been added to the table

In [13]:
nyc_taxis_tbl.scan(limit=10).to_pandas()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1,1.72,1,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.00
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1,1.80,1,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.00
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1,4.70,1,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.00
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1,1.40,1,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.00
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1,0.80,1,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.00
5,1,2024-01-01 00:54:08,2024-01-01 01:26:31,1,4.70,1,N,148,141,1,29.6,3.5,0.5,6.90,0.0,1.0,41.50,2.5,0.00
6,2,2024-01-01 00:49:44,2024-01-01 01:15:47,2,10.82,1,N,138,181,1,45.7,6.0,0.5,10.00,0.0,1.0,64.95,0.0,1.75
7,1,2024-01-01 00:30:40,2024-01-01 00:58:40,0,3.00,1,N,246,231,2,25.4,3.5,0.5,0.00,0.0,1.0,30.40,2.5,0.00
8,2,2024-01-01 00:26:01,2024-01-01 00:54:12,1,5.44,1,N,161,261,2,31.0,1.0,0.5,0.00,0.0,1.0,36.00,2.5,0.00
9,2,2024-01-01 00:28:08,2024-01-01 00:29:16,1,0.04,1,N,113,113,2,3.0,1.0,0.5,0.00,0.0,1.0,8.00,2.5,0.00

## What happens when adding data?

The data has been written into a parquet file and a new snapshot has been created.

Let's check the table location again:

In [14]:
print_directory(nyc_taxis_tbl.location())

├── data
│   └── 00000-0-ca442fe2-ee5c-4cf7-b44e-720efbd88733.parquet
└── metadata
    ├── 00000-b28ed822-9ec9-45f8-8ca4-9e956eb83fc5.metadata.json
    ├── 00001-a7eae212-6711-4931-a54f-38d8d478f186.metadata.json
    ├── ca442fe2-ee5c-4cf7-b44e-720efbd88733-m0.avro
    └── snap-1112881952072389391-0-ca442fe2-ee5c-4cf7-b44e-720efbd88733.avro

In the `metadata`, we can see some new files are generated:


*   new metadata file: `00001-<uuid>-.metadata.json`
*   manifest file: `<uuid>-m0.avro`
*   manifest list file: `snap-<snapshot-id>-0-<uuid>.avro`

In the `data`, we can see a new parquet file that contains the inerted data



*   `00000-0-<uuid>.parquet`

# Table Evolution: Make table partitioned

The table we just created is unpartitioned. In this example, we want to take a further step to partition the table. We will partition the table by the `day` value of`tpep_pickup_datatime` column.

In [15]:
from pyiceberg.transforms import DayTransform

with nyc_taxis_tbl.update_spec() as update_spec:
    update_spec.add_field("tpep_pickup_datetime", DayTransform())

nyc_taxis_tbl

nyc_taxis(
  1: VendorID: optional int,
  2: tpep_pickup_datetime: optional timestamp,
  3: tpep_dropoff_datetime: optional timestamp,
  4: passenger_count: optional long,
  5: trip_distance: optional double,
  6: RatecodeID: optional long,
  7: store_and_fwd_flag: optional string,
  8: PULocationID: optional int,
  9: DOLocationID: optional int,
  10: payment_type: optional long,
  11: fare_amount: optional double,
  12: extra: optional double,
  13: mta_tax: optional double,
  14: tip_amount: optional double,
  15: tolls_amount: optional double,
  16: improvement_surcharge: optional double,
  17: total_amount: optional double,
  18: congestion_surcharge: optional double,
  19: Airport_fee: optional double
),
partition by: [tpep_pickup_datetime_day],
sort order: [],
snapshot: Operation.APPEND: id=1112881952072389391, schema_id=0

## Insert new data

The newly inserted data will be partitioned by the `day` value of `tpep_pickup_datetime` column

In [16]:
nyc_taxis_tbl.append(taxis_data_2)

In [17]:
nyc_taxis_tbl.scan(limit=3).to_pandas()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-31 23:59:53,2024-02-01 00:18:35,1,6.95,1,N,249,166,1,30.3,1.0,0.5,7.06,0.0,1.0,42.36,2.5,0.0
1,2,2024-01-31 23:59:24,2024-02-01 00:06:13,1,1.28,1,N,68,137,2,9.3,1.0,0.5,0.00,0.0,1.0,14.30,2.5,0.0
2,2,2024-01-31 23:57:33,2024-02-01 00:05:48,1,1.40,1,N,90,79,1,10.0,1.0,0.5,1.95,0.0,1.0,16.95,2.5,0.0

In [18]:
nyc_taxis_tbl.scan().to_pandas().size

113470850

# Partitioned Data

If we go to the `data` folder of the table, we can see the newly inserted data partitioned by date.

In [19]:
print_directory(os.path.join(nyc_taxis_tbl.location(), "data"))

├── 00000-0-ca442fe2-ee5c-4cf7-b44e-720efbd88733.parquet
├── tpep_pickup_datetime_day=2008-12-31
│   └── 00000-3-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2009-01-01
│   └── 00000-12-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-01-31
│   └── 00000-1-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-01
│   └── 00000-0-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-02
│   └── 00000-2-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-03
│   └── 00000-4-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-04
│   └── 00000-5-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-05
│   └── 00000-6-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-06
│   └── 00000-7-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-07
│   └── 00000-8-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-08
│   └── 00000-9-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-09
│   └── 00000-10-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-10
│   └── 00000-11-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-11
│   └── 00000-13-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-12
│   └── 00000-14-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-13
│   └── 00000-15-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-14
│   └── 00000-16-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-15
│   └── 00000-17-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-16
│   └── 00000-18-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-17
│   └── 00000-19-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-18
│   └── 00000-20-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-19
│   └── 00000-21-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-20
│   └── 00000-22-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-21
│   └── 00000-23-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-22
│   └── 00000-24-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-23
│   └── 00000-25-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-24
│   └── 00000-26-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-25
│   └── 00000-27-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-26
│   └── 00000-28-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-27
│   └── 00000-29-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-28
│   └── 00000-30-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-29
│   └── 00000-31-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
└── tpep_pickup_datetime_day=2024-03-01
    └── 00000-32-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet

## Table Evolution: Change to partition by month for future data insertion

I changed my mind and now I want to partition the table by the "month" of `tpep_pickup_datetime` for any furture data insertion. No worries—we can easily achieve it!

Iceberg allows you to update the partitioning strategy without recreating the table or re-writing any data.

In [20]:
from pyiceberg.transforms import MonthTransform

with nyc_taxis_tbl.update_spec() as update_spec:
    update_spec.remove_field("tpep_pickup_datetime_day")
    update_spec.add_field("tpep_pickup_datetime", MonthTransform())

nyc_taxis_tbl

nyc_taxis(
  1: VendorID: optional int,
  2: tpep_pickup_datetime: optional timestamp,
  3: tpep_dropoff_datetime: optional timestamp,
  4: passenger_count: optional long,
  5: trip_distance: optional double,
  6: RatecodeID: optional long,
  7: store_and_fwd_flag: optional string,
  8: PULocationID: optional int,
  9: DOLocationID: optional int,
  10: payment_type: optional long,
  11: fare_amount: optional double,
  12: extra: optional double,
  13: mta_tax: optional double,
  14: tip_amount: optional double,
  15: tolls_amount: optional double,
  16: improvement_surcharge: optional double,
  17: total_amount: optional double,
  18: congestion_surcharge: optional double,
  19: Airport_fee: optional double
),
partition by: [tpep_pickup_datetime_month],
sort order: [],
snapshot: Operation.APPEND: id=3690222227076645093, parent_id=1112881952072389391, schema_id=0

Now let's append some new data to the table

In [21]:
nyc_taxis_tbl.append(taxis_data_3)

If we go to the the `data` folder of table `nyc_taxis` again, we will find the new data is partitioned by the month value. (You can find folders of new partitions at the bottom)

```
├── tpep_pickup_datetime_month=2002-12
│   └── 00000-2-<uuid>.parquet
├── tpep_pickup_datetime_month=2024-02
│   └── 00000-1-<uuid>.parquet
├── tpep_pickup_datetime_month=2024-03
│   └── 00000-0-<uuid>.parquet
└── tpep_pickup_datetime_month=2024-04
    └── 00000-3-<uuid>.parquet
```

In [22]:
print_directory(os.path.join(nyc_taxis_tbl.location(), "data"))

├── 00000-0-ca442fe2-ee5c-4cf7-b44e-720efbd88733.parquet
├── tpep_pickup_datetime_day=2008-12-31
│   └── 00000-3-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2009-01-01
│   └── 00000-12-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-01-31
│   └── 00000-1-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-01
│   └── 00000-0-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-02
│   └── 00000-2-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-03
│   └── 00000-4-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-04
│   └── 00000-5-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-05
│   └── 00000-6-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-06
│   └── 00000-7-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-07
│   └── 00000-8-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-08
│   └── 00000-9-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-09
│   └── 00000-10-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-10
│   └── 00000-11-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-11
│   └── 00000-13-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-12
│   └── 00000-14-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-13
│   └── 00000-15-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-14
│   └── 00000-16-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-15
│   └── 00000-17-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-16
│   └── 00000-18-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-17
│   └── 00000-19-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-18
│   └── 00000-20-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-19
│   └── 00000-21-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-20
│   └── 00000-22-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-21
│   └── 00000-23-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-22
│   └── 00000-24-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-23
│   └── 00000-25-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-24
│   └── 00000-26-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-25
│   └── 00000-27-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-26
│   └── 00000-28-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-27
│   └── 00000-29-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-28
│   └── 00000-30-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-02-29
│   └── 00000-31-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_day=2024-03-01
│   └── 00000-32-571d036f-d63c-4b9e-bb9a-722d49896eaf.parquet
├── tpep_pickup_datetime_month=2002-12
│   └── 00000-3-c7ce4084-5b75-4888-ad31-df1a307400d5.parquet
├── tpep_pickup_datetime_month=2024-02
│   └── 00000-1-c7ce4084-5b75-4888-ad31-df1a307400d5.parquet
├── tpep_pickup_datetime_month=2024-03
│   └── 00000-0-c7ce4084-5b75-4888-ad31-df1a307400d5.parquet
└── tpep_pickup_datetime_month=2024-04
    └── 00000-2-c7ce4084-5b75-4888-ad31-df1a307400d5.parquet

# Table Evolution: Change Table Schema
Iceberg supports schema evolution without rewriting any data. For example, we can rename `VendorId` to `ID`.

In [23]:
# Before rename
nyc_taxis_tbl.scan(limit=3).to_pandas()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-02-29 23:52:39,2024-02-29 23:57:31,2,0.69,1,N,234,113,1,6.5,1.0,0.5,2.3,0.0,1.0,13.80,2.5,0.00
1,2,2024-02-29 23:59:33,2024-03-01 00:18:39,2,3.43,1,N,68,148,1,19.8,1.0,0.5,3.0,0.0,1.0,27.80,2.5,0.00
2,2,2024-02-29 23:59:13,2024-03-01 00:13:55,1,8.92,1,N,132,39,1,34.5,1.0,0.5,0.0,0.0,1.0,38.75,0.0,1.75

In [24]:
with nyc_taxis_tbl.update_schema() as update:
    update.rename_column("VendorID", "ID")

In [25]:
# After rename
nyc_taxis_tbl.scan(limit=3).to_pandas()

,ID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-02-29 23:52:39,2024-02-29 23:57:31,2,0.69,1,N,234,113,1,6.5,1.0,0.5,2.3,0.0,1.0,13.80,2.5,0.00
1,2,2024-02-29 23:59:33,2024-03-01 00:18:39,2,3.43,1,N,68,148,1,19.8,1.0,0.5,3.0,0.0,1.0,27.80,2.5,0.00
2,2,2024-02-29 23:59:13,2024-03-01 00:13:55,1,8.92,1,N,132,39,1,34.5,1.0,0.5,0.0,0.0,1.0,38.75,0.0,1.75

# Metadata Table

We can get more details of an iceberg by looking at its metadata tables.

## Partitions
For example, to learn about existing partitions in the table, we can query the `partitions` metadata table

In [26]:
nyc_taxis_tbl.inspect.partitions().to_pandas()

,partition,spec_id,record_count,file_count,total_data_file_size_in_bytes,position_delete_record_count,position_delete_file_count,equality_delete_record_count,equality_delete_file_count,last_updated_at,last_updated_snapshot_id
0,"{'tpep_pickup_datetime_day': None, 'tpep_picku...",2,3582605,1,62528393,0,0,0,0,2025-04-06 16:16:44.180,393423256772927473
1,"{'tpep_pickup_datetime_day': None, 'tpep_picku...",2,19,1,8355,0,0,0,0,2025-04-06 16:16:44.180,393423256772927473
2,"{'tpep_pickup_datetime_day': None, 'tpep_picku...",2,2,1,7581,0,0,0,0,2025-04-06 16:16:44.180,393423256772927473
3,"{'tpep_pickup_datetime_day': None, 'tpep_picku...",2,2,1,7583,0,0,0,0,2025-04-06 16:16:44.180,393423256772927473
4,"{'tpep_pickup_datetime_day': 2024-02-01, 'tpep...",1,109994,1,1956979,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
5,"{'tpep_pickup_datetime_day': 2024-01-31, 'tpep...",1,11,1,8041,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
6,"{'tpep_pickup_datetime_day': 2024-02-02, 'tpep...",1,105470,1,1892034,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
7,"{'tpep_pickup_datetime_day': 2008-12-31, 'tpep...",1,1,1,7501,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
8,"{'tpep_pickup_datetime_day': 2024-02-03, 'tpep...",1,110603,1,1949768,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
9,"{'tpep_pickup_datetime_day': 2024-02-04, 'tpep...",1,88091,1,1660712,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
10,"{'tpep_pickup_datetime_day': 2024-02-05, 'tpep...",1,88421,1,1625686,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
11,"{'tpep_pickup_datetime_day': 2024-02-06, 'tpep...",1,102152,1,1845117,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
12,"{'tpep_pickup_datetime_day': 2024-02-07, 'tpep...",1,102971,1,1828874,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
13,"{'tpep_pickup_datetime_day': 2024-02-08, 'tpep...",1,114063,1,1992557,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
14,"{'tpep_pickup_datetime_day': 2024-02-09, 'tpep...",1,110502,1,1978920,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
15,"{'tpep_pickup_datetime_day': 2024-02-10, 'tpep...",1,111655,1,1990793,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
16,"{'tpep_pickup_datetime_day': 2009-01-01, 'tpep...",1,1,1,7501,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
17,"{'tpep_pickup_datetime_day': 2024-02-11, 'tpep...",1,96566,1,1785896,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
18,"{'tpep_pickup_datetime_day': 2024-02-12, 'tpep...",1,92090,1,1700699,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
19,"{'tpep_pickup_datetime_day': 2024-02-13, 'tpep...",1,69067,1,1332434,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
20,"{'tpep_pickup_datetime_day': 2024-02-14, 'tpep...",1,121771,1,2099818,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
21,"{'tpep_pickup_datetime_day': 2024-02-15, 'tpep...",1,122956,1,2126670,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
22,"{'tpep_pickup_datetime_day': 2024-02-16, 'tpep...",1,105841,1,1901602,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
23,"{'tpep_pickup_datetime_day': 2024-02-17, 'tpep...",1,105811,1,1894540,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
24,"{'tpep_pickup_datetime_day': 2024-02-18, 'tpep...",1,93788,1,1761053,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
25,"{'tpep_pickup_datetime_day': 2024-02-19, 'tpep...",1,76073,1,1458224,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
26,"{'tpep_pickup_datetime_day': 2024-02-20, 'tpep...",1,97086,1,1762238,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
27,"{'tpep_pickup_datetime_day': 2024-02-21, 'tpep...",1,103545,1,1834846,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
28,"{'tpep_pickup_datetime_day': 2024-02-22, 'tpep...",1,115608,1,2050066,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
29,"{'tpep_pickup_datetime_day': 2024-02-23, 'tpep...",1,102442,1,1843807,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
30,"{'tpep_pickup_datetime_day': 2024-02-24, 'tpep...",1,117831,1,2084279,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
31,"{'tpep_pickup_datetime_day': 2024-02-25, 'tpep...",1,95826,1,1779681,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
32,"{'tpep_pickup_datetime_day': 2024-02-26, 'tpep...",1,86321,1,1628862,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
33,"{'tpep_pickup_datetime_day': 2024-02-27, 'tpep...",1,118614,1,2020943,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
34,"{'tpep_pickup_datetime_day': 2024-02-28, 'tpep...",1,112463,1,1981569,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
35,"{'tpep_pickup_datetime_day': 2024-02-29, 'tpep...",1,129890,1,2225676,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
36,"{'tpep_pickup_datetime_day': 2024-03-01, 'tpep...",1,2,1,7565,0,0,0,0,2025-04-06 16:16:27.839,3690222227076645093
37,"{'tpep_pickup_datetime_day': None, 'tpep_picku...",0,2964624,1,51811595,0,0,0,0,2025-04-06 16:16:15.681,1112881952072389391

## Files

If we want to see all the data files in the table, we can query the `files` metadata table

In [27]:
nyc_taxis_tbl.inspect.files().to_pandas()

,content,file_path,file_format,spec_id,record_count,file_size_in_bytes,column_sizes,value_counts,null_value_counts,nan_value_counts,lower_bounds,upper_bounds,key_metadata,split_offsets,equality_ids,sort_order_id,readable_metrics
0,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,2,3582605,62528393,"[(1, 420938), (2, 16875604), (3, 17082862), (4...","[(1, 3582605), (2, 3582605), (3, 3582605), (4,...","[(1, 0), (2, 0), (3, 0), (4, 426190), (5, 0), ...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\xa0\x9b\...","[(1, b'\x06\x00\x00\x00'), (2, b'\xc0\xfd\xa0\...",None,"[4, 17986208, 35790600, 53693562]",None,NaN,"{'ID': {'column_size': 420938, 'value_count': ..."
1,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,2,19,8355,"[(1, 90), (2, 241), (3, 231), (4, 128), (5, 23...","[(1, 19), (2, 19), (3, 19), (4, 19), (5, 19), ...","[(1, 0), (2, 0), (3, 0), (4, 0), (5, 0), (6, 0...",[],"[(1, b'\x02\x00\x00\x00'), (2, b'\x00`>H\x8d\x...","[(1, b'\x02\x00\x00\x00'), (2, b'@\xd9m\x0e\x8...",None,[4],None,NaN,"{'ID': {'column_size': 90, 'value_count': 19, ..."
2,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,2,2,7581,"[(1, 90), (2, 118), (3, 118), (4, 110), (5, 11...","[(1, 2), (2, 2), (3, 2), (4, 2), (5, 2), (6, 2...","[(1, 0), (2, 0), (3, 0), (4, 0), (5, 0), (6, 0...",[],"[(1, b'\x02\x00\x00\x00'), (2, b'@[\x0f\xbf\xf...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0i\x8f(\xf...",None,[4],None,NaN,"{'ID': {'column_size': 90, 'value_count': 2, '..."
3,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,2,2,7583,"[(1, 90), (2, 118), (3, 118), (4, 110), (5, 11...","[(1, 2), (2, 2), (3, 2), (4, 2), (5, 2), (6, 2...","[(1, 0), (2, 0), (3, 0), (4, 0), (5, 0), (6, 0...",[],"[(1, b'\x02\x00\x00\x00'), (2, b'\x80%\x88\x8d...","[(1, b'\x02\x00\x00\x00'), (2, b'\x807\x1dE \x...",None,[4],None,NaN,"{'ID': {'column_size': 90, 'value_count': 2, '..."
4,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,109994,1956979,"[(1, 13034), (2, 522669), (3, 531264), (4, 179...","[(1, 109994), (2, 109994), (3, 109994), (4, 10...","[(1, 0), (2, 0), (3, 0), (4, 4342), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\xc05\xad...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0\xdd\xfd\...",None,[4],None,NaN,"{'ID': {'column_size': 13034, 'value_count': 1..."
5,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,11,8041,"[(1, 90), (2, 184), (3, 183), (4, 110), (5, 18...","[(1, 11), (2, 11), (3, 11), (4, 11), (5, 11), ...","[(1, 0), (2, 0), (3, 0), (4, 0), (5, 0), (6, 0...",[],"[(1, b'\x02\x00\x00\x00'), (2, b'@\xe5_\x91F\x...","[(1, b'\x02\x00\x00\x00'), (2, b'\x802\xda\xac...",None,[4],None,NaN,"{'ID': {'column_size': 90, 'value_count': 11, ..."
6,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,105470,1892034,"[(1, 12520), (2, 508876), (3, 512860), (4, 190...","[(1, 105470), (2, 105470), (3, 105470), (4, 10...","[(1, 0), (2, 0), (3, 0), (4, 3807), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'@b\x1c\xcbZ\x...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0=\xd5\xe8...",None,[4],None,NaN,"{'ID': {'column_size': 12520, 'value_count': 1..."
7,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,1,7501,"[(1, 90), (2, 110), (3, 110), (4, 110), (5, 11...","[(1, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 1...","[(1, 0), (2, 0), (3, 0), (4, 0), (5, 0), (6, 0...",[],"[(1, b'\x02\x00\x00\x00'), (2, b'@\xb2,\x91__\...","[(1, b'\x02\x00\x00\x00'), (2, b'@\xb2,\x91__\...",None,[4],None,NaN,"{'ID': {'column_size': 90, 'value_count': 1, '..."
8,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,110603,1949768,"[(1, 12655), (2, 530870), (3, 534682), (4, 216...","[(1, 110603), (2, 110603), (3, 110603), (4, 11...","[(1, 0), (2, 0), (3, 0), (4, 5944), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\x80\xe4\...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0\x9d\xac\...",None,[4],None,NaN,"{'ID': {'column_size': 12655, 'value_count': 1..."
9,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,88091,1660712,"[(1, 10222), (2, 468219), (3, 454875), (4, 179...","[(1, 88091), (2, 88091), (3, 88091), (4, 88091...","[(1, 0), (2, 0), (3, 0), (4, 3976), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\xe0\xbb\...","[(1, b'\x02\x00\x00\x00'), (2, b'\x80\xbbt$\x9...",None,[4],None,NaN,"{'ID': {'column_size': 10222, 'value_count': 8..."
10,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,88421,1625686,"[(1, 10633), (2, 437431), (3, 445180), (4, 149...","[(1, 88421), (2, 88421), (3, 88421), (4, 88421...","[(1, 0), (2, 0), (3, 0), (4, 2386), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x80\xc4\xb1$...","[(1, b'\x02\x00\x00\x00'), (2, b'\x80\x1bLB\xa...",None,[4],None,NaN,"{'ID': {'column_size': 10633, 'value_count': 8..."
11,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,102152,1845117,"[(1, 12609), (2, 498220), (3, 498671), (4, 167...","[(1, 102152), (2, 102152), (3, 102152), (4, 10...","[(1, 0), (2, 0), (3, 0), (4, 3464), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\xa0jB\xa...","[(1, b'\x02\x00\x00\x00'), (2, b'@9\x14`\xbf\x...",None,[4],None,NaN,"{'ID': {'column_size': 12609, 'value_count': 1..."
12,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,102971,1828874,"[(1, 12102), (2, 489020), (3, 492201), (4, 168...","[(1, 102971), (2, 102971), (3, 102971), (4, 10...","[(1, 0), (2, 0), (3, 0), (4, 3586), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x80\x84``\xb...","[(1, b'\x02\x00\x00\x00'), (2, b'@\x99\xeb}\xd...",None,[4],None,NaN,"{'ID': {'column_size': 12102, 'value_count': 1..."
13,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,114063,1992557,"[(1, 13535), (2, 527785), (3, 528718), (4, 189...","[(1, 114063), (2, 114063), (3, 114063), (4, 11...","[(1, 0), (2, 0), (3, 0), (4, 5005), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00`\x19~\xd...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0}\xe1\x9b...",None,[4],None,NaN,"{'ID': {'column_size': 13535, 'value_count': 1..."
14,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,110502,1978920,"[(1, 13094), (2, 530109), (3, 527644), (4, 209...","[(1, 110502), (2, 110502), (3, 110502), (4, 11...","[(1, 0), (2, 0), (3, 0), (4, 5611), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'@\x02\x00\x9c...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0\xdd\xb8\...",None,[4],None,NaN,"{'ID': {'column_size': 13094, 'value_count': 1..."
15,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,111655,1990793,"[(1, 12829), (2, 542492), (3, 549563), (4, 220...","[(1, 111655), (2, 111655), (3, 111655), (4, 11...","[(1, 0), (2, 0), (3, 0), (4, 5142), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00 \xc8\xb9...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0=\x90\xd7...",None,[4],None,NaN,"{'ID': {'column_size': 12829, 'value_count': 1..."
16,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,1,7501,"[(1, 90), (2, 110), (3, 110), (4, 110), (5, 11...","[(1, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 1...","[(1, 0), (2, 0), (3, 0), (4, 0), (5, 0), (6, 0...",[],"[(1, b'\x02\x00\x00\x00'), (2, b'@K^\x89`_\x04...","[(1, b'\x02\x00\x00\x00'), (2, b'@K^\x89`_\x04...",None,[4],None,NaN,"{'ID': {'column_size': 90, 'value_count': 1, '..."
17,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,96566,1785896,"[(1, 11064), (2, 486880), (3, 490334), (4, 191...","[(1, 96566), (2, 96566), (3, 96566), (4, 96566...","[(1, 0), (2, 0), (3, 0), (4, 7724), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\x80\x9f\...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0\x9dg\xf5...",None,[4],None,NaN,"{'ID': {'column_size': 11064, 'value_count': 9..."
18,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,92090,1700699,"[(1, 10947), (2, 470084), (3, 460340), (4, 156...","[(1, 92090), (2, 92090), (3, 92090), (4, 92090...","[(1, 0), (2, 0), (3, 0), (4, 3286), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\xe0v\xf5...","[(1, b'\x02\x00\x00\x00'), (2, b'\x80\xbb/\x13...",None,[4],None,NaN,"{'ID': {'column_size': 10947, 'value_count': 9..."
19,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,69067,1332434,"[(1, 8071), (2, 381177), (3, 374783), (4, 1233...","[(1, 69067), (2, 69067), (3, 69067), (4, 69067...","[(1, 0), (2, 0), (3, 0), (4, 2236), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x80\xc4l\x13...","[(1, b'\x02\x00\x00\x00'), (2, b'@\xd9\xf70L\x...",None,[4],None,NaN,"{'ID': {'column_size': 8071, 'value_count': 69..."
20,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,121771,2099818,"[(1, 14213), (2, 555176), (3, 559736), (4, 201...","[(1, 121771), (2, 121771), (3, 121771), (4, 12...","[(1, 0), (2, 0), (3, 0), (4, 9210), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\xa0%1L\x...","[(1, b'\x02\x00\x00\x00'), (2, b'\x80{\xdeN`\x...",None,[4],None,NaN,"{'ID': {'column_size': 14213, 'value_count': 1..."
21,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,122956,2126670,"[(1, 14428), (2, 559298), (3, 561626), (4, 207...","[(1, 122956), (2, 122956), (3, 122956), (4, 12...","[(1, 0), (2, 0), (3, 0), (4, 11992), (5, 0), (...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\x00\xfdN...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0\x1d\xc5l...",None,[4],None,NaN,"{'ID': {'column_size': 14428, 'value_count': 1..."
22,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,105841,1901602,"[(1, 12617), (2, 509595), (3, 513700), (4, 188...","[(1, 105841), (2, 105841), (3, 105841), (4, 10...","[(1, 0), (2, 0), (3, 0), (4, 7344), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00`\xd4lt\x...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0}\x9c\x8a...",None,[4],None,NaN,"{'ID': {'column_size': 12617, 'value_count': 1..."
23,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,105811,1894540,"[(1, 12067), (2, 517999), (3, 523588), (4, 199...","[(1, 105811), (2, 105811), (3, 105811), (4, 10...","[(1, 0), (2, 0), (3, 0), (4, 10991), (5, 0), (...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\xc0\xab\...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0\xdds\xa8...",None,[4],None,NaN,"{'ID': {'column_size': 12067, 'value_count': 1..."
24,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,93788,1761053,"[(1, 10893), (2, 490998), (3, 493410), (4, 181...","[(1, 93788), (2, 93788), (3, 93788), (4, 93788...","[(1, 0), (2, 0), (3, 0), (4, 9550), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00 \x83\xa8...","[(1, b'\x02\x00\x00\x00'), (2, b'\x80\xfb;\xc6...",None,[4],None,NaN,"{'ID': {'column_size': 10893, 'value_count': 9..."
25,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,76073,1458224,"[(1, 9022), (2, 402895), (3, 404569), (4, 1767...","[(1, 76073), (2, 76073), (3, 76073), (4, 76073...","[(1, 0), (2, 0), (3, 0), (4, 2903), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\x80Z\xc6...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0\x9d""\xe4...",None,[4],None,NaN,"{'ID': {'column_size': 9022, 'value_count': 76..."
26,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,97086,1762238,"[(1, 11526), (2, 473348), (3, 473632), (4, 170...","[(1, 97086), (2, 97086), (3, 97086), (4, 97086...","[(1, 0), (2, 0), (3, 0), (4, 3466), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\xe01\xe4...","[(1, b'\x02\x00\x00\x00'), (2, b'\x00.\x8f\x01...",None,[4],None,NaN,"{'ID': {'column_size': 11526, 'value_count': 9..."
27,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,103545,1834846,"[(1, 12197), (2, 492514), (3, 493933), (4, 179...","[(1, 103545), (2, 103545), (3, 103545), (4, 10...","[(1, 0), (2, 0), (3, 0), (4, 3342), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00@\t\x02\x...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0]\xd1\x1f...",None,[4],None,NaN,"{'ID': {'column_size': 12197, 'value_count': 1..."
28,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,115608,2050066,"[(1, 13611), (2, 543203), (3, 545862), (4, 238...","[(1, 115608), (2, 115608), (3, 115608), (4, 11...","[(1, 0), (2, 0), (3, 0), (4, 6263), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\xa0\xe0\...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0\xbd\xa8=...",None,[4],None,NaN,"{'ID': {'column_size': 13611, 'value_count': 1..."
29,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,102442,1843807,"[(1, 12135), (2, 498464), (3, 497903), (4, 191...","[(1, 102442), (2, 102442), (3, 102442), (4, 10...","[(1, 0), (2, 0), (3, 0), (4, 4189), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\x00\xb8=...","[(1, b'\x02\x00\x00\x00'), (2, b'\x80\xdbp[\x1...",None,[4],None,NaN,"{'ID': {'column_size': 12135, 'value_count': 1..."
30,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,117831,2084279,"[(1, 13424), (2, 564987), (3, 567779), (4, 226...","[(1, 117831), (2, 117831), (3, 117831), (4, 11...","[(1, 0), (2, 0), (3, 0), (4, 10428), (5, 0), (...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00`\x8f[\x1...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0}Wy)\x12\...",None,[4],None,NaN,"{'ID': {'column_size': 13424, 'value_count': 1..."
31,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,95826,1779681,"[(1, 11031), (2, 488195), (3, 490428), (4, 189...","[(1, 95826), (2, 95826), (3, 95826), (4, 95826...","[(1, 0), (2, 0), (3, 0), (4, 9626), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\xc0fy)\x...","[(1, b'\x02\x00\x00\x00'), (2, b'@Y\x10\x97=\x...",None,[4],None,NaN,"{'ID': {'column_size': 11031, 'value_count': 9..."
32,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,86321,1628862,"[(1, 10844), (2, 447414), (3, 440338), (4, 143...","[(1, 86321), (2, 86321), (3, 86321), (4, 86321...","[(1, 0), (2, 0), (3, 0), (4, 3886), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00 >\x97=\x...","[(1, b'\x02\x00\x00\x00'), (2, b'\x80\xfb\xf6\...",None,[4],None,NaN,"{'ID': {'column_size': 10844, 'value_count': 8..."
33,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,118614,2020943,"[(1, 13901), (2, 520953), (3, 531415), (4, 175...","[(1, 118614), (2, 118614), (3, 118614), (4, 11...","[(1, 0), (2, 0), (3, 0), (4, 14192), (5, 0), (...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\x80\x15\...","[(1, b'\x02\x00\x00\x00'), (2, b'\xc0\x9d\xdd\...",None,[4],None,NaN,"{'ID': {'column_size': 13901, 'value_count': 1..."
34,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,112463,1981569,"[(1, 13295), (2, 523680), (3, 534881), (4, 173...","[(1, 112463), (2, 112463), (3, 112463), (4, 11...","[(1, 0), (2, 0), (3, 0), (4, 8694), (5, 0), (6...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00\xe0\xec\...","[(1, b'\x02\x00\x00\x00'), (2, b'\x80\xb2h\xf0...",None,[4],None,NaN,"{'ID': {'column_size': 13295, 'value_count': 1..."
35,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,129890,2225676,"[(1, 15174), (2, 567569), (3, 576285), (4, 208...","[(1, 129890), (2, 129890), (3, 129890), (4, 12...","[(1, 0), (2, 0), (3, 0), (4, 13025), (5, 0), (...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\x00@\xc4\xf0...","[(1, b'\x02\x00\x00\x00'), (2, b'\x80\x1b}\x0e...",None,[4],None,NaN,"{'ID': {'column_size': 15174, 'value_count': 1..."
36,0,/warehouse/demo_ns.db/nyc_taxis/data/tpep_pick...,PARQUET,1,2,7565,"[(1, 90), (2, 118), (3, 118), (4, 110), (5, 11...","[(1, 2), (2, 2), (3, 2), (4, 2), (5, 2), (6, 2...","[(1, 0), (2, 0), (3, 0), (4, 0), (5, 0), (6, 0...",[],"[(1, b'\x02\x00\x00\x00'), (2, b'\xc0\x1a\x8e\...","[(1, b'\x02\x00\x00\x00'), (2, b'@\xbac\x14\x8...",None,[4],None,NaN,"{'ID': {'column_size': 90, 'value_count': 2, '..."
37,0,/warehouse/demo_ns.db/nyc_taxis/data/00000-0-c...,PARQUET,0,2964624,51811595,"[(1, 347173), (2, 13752038), (3, 13907168), (4...","[(1, 2964624), (2, 2964624), (3, 2964624), (4,...","[(1, 0), (2, 0), (3, 0), (4, 140162), (5, 0), ...",[],"[(1, b'\x01\x00\x00\x00'), (2, b'\xc0\xccv% \x...","[(1, b'\x06\x00\x00\x00'), (2, b'\xc0(\xae\xb1...",None,"[4, 18195716, 36334999]",None,NaN,"{'ID': {'column_size': 347173, 'value_count': ..."

## Snapshots

If we want to look at snapshots of the table, we can query the `snapshots` metadata table.

Every time when a data change operation happens, Iceberg will form a new snapshot. In this example, we did 3 append and therefore we will have 3 snapshots

In [28]:
nyc_taxis_tbl.inspect.snapshots().to_pandas()

,committed_at,snapshot_id,parent_id,operation,manifest_list,summary
0,2025-04-06 16:16:15.681,1112881952072389391,NaN,append,/warehouse/demo_ns.db/nyc_taxis/metadata/snap-...,"[(added-files-size, 51811595), (added-data-fil..."
1,2025-04-06 16:16:27.839,3690222227076645093,1.112882e+18,append,/warehouse/demo_ns.db/nyc_taxis/metadata/snap-...,"[(added-files-size, 54024951), (added-data-fil..."
2,2025-04-06 16:16:44.180,393423256772927473,3.690222e+18,append,/warehouse/demo_ns.db/nyc_taxis/metadata/snap-...,"[(added-files-size, 62551912), (added-data-fil..."

# Interoperability with other engines: Spark

Iceberg tables provides engine/platform interoperability. To see how we can use spark to read tables written by PyIceberg, please use the "Docker" version of the workshop: https://github.com/HonahX/iceberg-summit-workshop