In [2]:
from pyiceberg.catalog import load_catalog

In [3]:
catalog = load_catalog("default")

In [4]:
catalog.list_namespaces()

[]

In [5]:
catalog.create_namespace("ns1")

In [6]:
from datetime import date, datetime, timezone
import uuid
import pyarrow as pa
from pyiceberg.io.pyarrow import pyarrow_to_schema
from pyiceberg.schema import Schema
from pyiceberg.types import NestedField, StringType, IntegerType, BooleanType, DateType, DecimalType, LongType
from pyiceberg.partitioning import PartitionSpec, PartitionField
from pyiceberg.transforms import IdentityTransform, YearTransform
import time

In [7]:
arrow_schema = pa.schema(
    [
        ("name", pa.string()),
        ("id", pa.int32()),
        ("date", pa.date32()),
    ]
)

data = [
    {"name": "Alice", "id": 1, "date": 17623},  # 2018-05-15
    {"name": "Bob", "id": 2, "date": 18512},    # 2020-11-23
    {"name": "Charlie", "id": 3, "date": 19174} # 2022-07-07
]

arrow_table = pa.Table.from_pylist(data, schema=arrow_schema)

In [8]:
catalog.create_namespace_if_not_exists("demo_ns")

In [9]:
catalog.create_table_if_not_exists("demo_ns.demo_table_1", schema=arrow_schema)

demo_table_1(
  1: name: optional string,
  2: id: optional int,
  3: date: optional date
),
partition by: [],
sort order: [],
snapshot: null

In [10]:
catalog.list_tables("demo_ns")

[('demo_ns', 'demo_table_1')]

In [11]:
table = catalog.load_table("demo_ns.demo_table_1")

In [12]:
table.append(arrow_table)

In [13]:
table.scan().to_pandas()

      name  id        date
0    Alice   1  2018-04-02
1      Bob   2  2020-09-07
2  Charlie   3  2022-07-01